* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;
    margin: 0 40px;
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
}

img {
    margin-bottom: 2px;
}

h1 {
    font-size: 1.4em;
    margin: 0;
}

.tagline {
    color: #6b7280;
    margin: 0;
}

.description {
    line-height: 1.5;
    margin: 4px 0;
}

.platform-ios {
    display: none;
}

.state-on, .state-off {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-ios .platform-ios {
    display: block;
}

body.state-on .state-unknown {
    display: none;
}

body.state-on .state-on {
    display: block;
}

body.state-off .state-unknown {
    display: none;
}

body.state-off .state-off {
    display: block;
}

button {
    font-size: 1em;
    padding: 6px 16px;
    margin-top: 4px;
}
